:root {
  --main-block-padding: 100px;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  /* height: 100px; */
  border: 2px solid red;
  max-width: 1280px;
}

.part {
  width: 100%;
  height: 200px;
  /* border: 1px solid green; */
  padding: 0px var(--main-block-padding);
}

.footer {
  height: 100vh;
  width: 100px;
}
